*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:sans-serif;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}
.headerAd{
	height: 40px;
	background: #444444;
}
.headerAd .adContent{
	margin: 0 auto;
	height: 40px;
	width: 976px;
	text-align: right;
	line-height: 40px;
	color: #a8a8aa;
	font-size: 12px;
}
.nav{
	height: 44px;
	background: #313131;
}
.nav .navContent{
	width: 1000px;
	margin: 0 auto;
}
.nav .navContent .item{
	height: 44px;
	line-height: 44px;
	width: 111px;
	display: inline-block;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	float: left;
}
.nav .navContent .item:hover{
	color: darkgrey;
}
.nav .navContent #icon{
	background-image: url("../img/icon.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.nav .navContent #icon:hover{
	background-image: url("../img/icon-c.png");
	background-size: 16px 44px;
}
.nav .navContent #search{
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.nav .navContent #search:hover{
	background-image: url("../img/search-c.png");
	background-size: 16px 44px;
}
.nav .navContent #bag{
	background-image: url("../img/bag.svg");
	background-repeat: no-repeat;
	background-position: center;
}
.nav .navContent #bag:hover{
	background-image: url("../img/bag-c.png");
	background-size: 14px 44px;
}
.product{
	background: #fafafa;
}
.product h1{
	font-size: 30px;
	line-height: 1.125;
	font-weight: 600;
	margin-bottom: 6px;
}
.product p{
	font-size: 19px;
	line-height: 1.38105;
	font-weight: 400;
}
.product .link{
	text-decoration: none;
	color: #4c73c9
}
.product .link:hover{
	text-decoration: underline;
}
#p1{
	border-bottom: 6px solid white;
	margin-top: 84px;
	height: 244px;
	padding-top: 51px;
}
#p1 .content{
	height: 140px;
	text-align: center;
}
#p2{
	height: 704px;
	border-top: 6px solid white;
	padding-top: 55px;
	background-image: url("../img/xrbg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
}
#p2 .content{
	height: 152px;
	text-align: center;
}
#p3{
	height: 704px;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	padding-top: 55px;
	background-image: url("../img/xsbg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
}
#p3 .content{
	height: 185px;
	text-align: center;
}
#p4{
	height: 704px;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	padding-top: 55px;
	background-image: url("../img/watchbg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
}
#p4 .content{
	height: 217px;
	text-align: center;
}
.ad .item{
	width: 50%;
	float: left;
	height: 580px;
	text-align: center;
	padding-top: 42px;
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	background-color: #fafafa;
}
.ad .item a{
	text-decoration: none;
	color: #4c73c9;
}
.ad .item a:hover{
	text-decoration: underline;
}
.ad .left{
	border-top: 6px solid white;
	border-left: 12px solid white;
	border-bottom: 6px solid white;
	border-right: 6px solid white;
}
.ad .right{
	border-top: 6px solid white;
	border-left: 6px solid white;
	border-bottom: 6px solid white;
	border-right: 12px solid white;
}
.ad #i1{
	background-image: url("../img/wwdcbg.jpg");
	background-size: auto 580px;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}
.ad #i1 a{
	color: white;
}
.ad #i2{
	background-image: url("../img/music_bg.jpg");
	background-size: auto 580px;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}
.ad #i2 a{
	color: white;
}
.ad #i3{
	background-image: url("../img/ipadpro.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
}
.ad #i4{
	background-image: url("../img/mba.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
}
.ad #i5{
	background-image: url("../img/airpods.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	border-bottom: 12px solid white;
}
.ad #i6{
	background-image: url("../img/things.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
	border-bottom: 12px solid white;
}
.ad #i6 a{
	color: #3dbbed;
}
.footer{
	height: 607px;
	background-color: #f2f2f2;
}
.footer .fcontent{
	width: 980px;
	height: 587px;
	margin: 0 auto;
}
.footer .fcontent .top{
	font-size: 11px;
	line-height: 1.33341;
	font-weight: 400;
	color: #888;
	padding-top: 17px;
	padding-bottom: 11px;
	border-bottom: 1px solid #d6d6d6;
	height: 160px;
}
.footer .fcontent .mid{
	height: 318px;
	padding-top: 20px;
}
.footer .fcontent .mid .item{
	width: 20%;
	float: left;
	height: 300px;
	font-size: 11px;
	line-height: 24px;
}
.footer .fcontent .mid .item a{
	color: #69697e;
	text-decoration: none;
}
.footer .fcontent .mid .item a:hover{
	text-decoration: underline;
}
.footer .fcontent .bottom{
	height: 113px;
	padding-top: 34px;
	padding-bottom: 21px;
}
.footer .fcontent .bottom #first{
	height: 25px;
	padding-bottom: 8px;
	margin-bottom: 7px;
	border-bottom: 1px solid #d6d6d6;
	font-size: 10px;
	color: #888888;
}
.footer .fcontent .bottom #first a{
	text-decoration: none;
	color: #0070c9;
}
.footer .fcontent .bottom #first a:hover{
	text-decoration: underline;
}
.footer .fcontent .bottom #second{
	height: 26px;
}
.footer .fcontent .bottom #second .endgame .end{
	width: 53px;
	padding-right: 10px;
	border-right: 1px solid #d6d6d6;
	margin-right: 7px;
	float: left;
}
.footer .fcontent .bottom #second .endgame .end a{
	font-size: 10px;
	text-decoration: none;
	color: black;
}
.footer .fcontent .bottom #second .endgame .end a:hover{
	text-decoration: underline;
}

